# 默认忽略的文件
/shelf/
/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
Introductory Assessment/.venv/
Introductory Assessment/Resnet/res-easy_model_state_dict.pth
Introductory Assessment/Resnet/res-hard_model_state_dict.pth
Introductory Assessment/VGG/vgg-easy_model_state_dict.pth